<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elaine Wilberforce - Front-End Designer</title>
    <link rel="stylesheet" href="/styles/style.css?v=1.0">
    <link rel="icon" href="../images/icons/lainecedes.ico" type="image/x-icon">
</head>

<body>
    <%- include ('./partials/header.ejs'); %>
    <main>
        <section class="full-page" id="about-me">
            <div class="name">
                <h1>Elaine Wilberforce</h1>
            </div>

            <div class="container">
                <div class="info">
                    <p>Hey! I am a 23 year old student at the Amsterdam University of Applied
                        Sciences, studying the bachelor Communication and Multimedia design.</p>

                    <p>Ever since I was little, I have had a passion for the web and started a career in web design and development 
                        after my electrical engineering degree. I'm currently focused on front end design and development, and enjoy 
                        designing in a playful, colourful and interactive way. Over the years, I have learnt a lot and continue to 
                        learn and improve my skills.</p>
                </div>

                <div class="photocard">
                    <img src="images/elaine.jpg" alt="picture of Elaine Wilberforce">
                    <div class="caption">
                        <p>🌸⭐️</p>
                    </div>
                </div>
            </div>

            <div class="marquee" data-marquee-duration="30">
                <div class="marquee-inner">
                    <ul>
                        <li>Third year student Communication and Multimedia Design</li>
                        <li>Finished the propedeutic year in Cum Laude</li>
                        <li>Available for internships starting 2024-2025</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="full-page projects" id="projects">
            <h2>Projects</h2>
            <ul class="projects-cards">
                <% projects.forEach(project => { %>
                  <li>
                    <a href="<%= project.url %>">
                      <img src="<%= project.img %>" alt="Picture of <%= project.name %>"/>
                    </a>
                  </li>
                <% }) %>
                <li>
                    <a href="#">
                        <p>The Archive</p>
                    </a>
                </li>
            </ul>
        </section>
        
        

        <section class="full-page skills" id="skills">
            <h2>Skills</h2>

            <div class="skills-container">
                <div class="front-end">
                    <h3>Front-End</h3>
                    <ul>
                        <li><img src="../images/icons/html5.png">HTML</li>
                        <li><img src="../images/icons/css3.png">CSS</li>
                        <li><img src="../images/icons/javascript.png">Javascript</li>
                        <li><img src="../images/icons/sveltekit.png">SvelteKit</li>
                    </ul>
                </div>

                <div class="back-end">
                    <h3>Back-End</h3>
                    <ul>
                        <li><img src="../images/icons/nodejs.png">Node</li>
                        <li><img src="../images/icons/expressjs.png">Express</li>
                        <li><img src="../images/icons/mongodb.png">MongoDB</li>
                    </ul>
                </div>

                <div class="others">
                    <h3>Others</h3>
                    <ul>
                        <li><img src="../images/icons/git.png">Git</li>
                        <li><img src="../images/icons/creative-cloud.png">Adobe Creative Cloud</li>
                        <li><img src="../images/icons/api.png">REST and OAuth 2.0</li>
                    </ul>
                </div>
            </div>
        </section>
        
        <section class="full-page contact" id="contact">
            <h2>Contact</h2>
            <div class="contact-container">
                <div class="contact-info">
                    <p>I am currently looking for a front-end design or development internship for 
                    <strong>10 weeks and 20 weeks</strong> starting in September 2024 and onwards.</p>
                 
                    <p>Feel free to contact me if you are interested in my work!</p>
                </div>

                <div class="social-links">
                    <ul>
                        <li><a href="https://www.github.com/lainecedes"><img src="../images/icons/github-mark.png" alt="GitHub icon">Github</a></li>
                        <li><a href="https://www.linkedin.com/in/elainewilberforce"><img src="../images/icons/linkedin.png" alt="LinkedIn icon">LinkedIn</a></li>
                        <li><a href="mailto:hi@elainewilberforce.com">hi@elainewilberforce.com</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <%- include ('./partials/footer.ejs'); %>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/split-type"></script>
    <script src="scripts/script.js"></script>
</body>
</html>